.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.h5{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

.imagenes{
    border-radius: 12px;
}